* {
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: .4s;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*header start*/
#header {
    padding: 25px 0;
    background: rgba(255, 255, 255, 0.29);
    -webkit-box-shadow: 0 13px 15px 11px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 13px 15px 11px rgba(0, 0, 0, 0.24);
    box-shadow: 0 13px 15px 11px rgba(0, 0, 0, 0.24);
    border-bottom: 2px solid rgba(225, 255, 255, 0.02);
    backdrop-filter: blur(8px);

    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    padding-right: 64px;
}

.header-logo a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 0 26px;
    transition: .5s;
}

.header-logo a:hover {
    color: royalblue;
    text-decoration-line: underline;
}

.header-btn button {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 15px 25px;
    border: 2px solid #FF4343;

}

.header-btn button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    color: #FF4343;
}

.header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
}

/*header end*/

/*hero start*/
#hero {
    padding: 96px 0 0 0;
    background: #100E14;
}

.hero h1 {
    color: #FFF;
    font-size: 63px;
    font-weight: 400;
}

.hero p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 28px;
    font-weight: 400;
    padding: 44px 0 73px 0;
}

.hero button {
    color: rgba(255, 255, 255, 0.70);
    font-size: 28px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border: 2px solid #FF4343;
}

.hero button:hover {
    background: transparent;
    border: 2px solid #FF4343;
}

.hero button ion-icon {
    padding-left: 12px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hero h6 {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 19px 0 61px 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-img-two {
    position: absolute;
    top: 0;
    right: -17px;

}

/*hero end*/

/*shoot start*/
#shoot {
    background: #121118;;
}

.shoot-text h1 {
    width: 442px;
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 38px;
}

.shoot-text p {
    width: 452px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;
}

.shoot {
    padding: 60px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoot-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shoot-img-one {
    position: absolute;
    top: 95px;
    left: -310px;
}

.shoot-img-two {
    position: relative;
    z-index: 1;
}

/*shoot end*/

/*enrich start*/
#enrich {
    padding: 180px 0;
    background: #121118;
}

.enrich-text h1 {
    width: 462px;
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 38px;
}

.enrich-text p {
    width: 524px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
}

.enrich-text p span {
    color: white;
    font-weight: 700;
}

.enrich-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.enrich-image-one {
    position: absolute;
    top: 0;
    left: 0;
}

.enrich {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*enrich end*/

/*add start */
#add {
    background: #121118;
    padding: 180px 0;
}
.add-text h1 {
    color: #FFF;
    font-size: 54px;
    font-weight: 400;
    line-height: 70px;
    width: 404px;
    padding-bottom: 38px;
}

.add-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    width: 490px;
}

.add-text p span {
    color: white;
    font-weight: 700;
}

.add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-block {
    width: 571px;
    height: 367px;
    background: red;
    border-radius: 30px;
}

.add-block-one {
    width: 75%;
    height: 75px;
    background: red;
    border: 2px solid white;
}


/*add end */

/*link start*/
#link {
    padding: 180px 0;
    background: #121118;
}

.link-text h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    width: 445px;
    padding-bottom: 38px;
}

.link-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    font-weight: 400;
    line-height: 37px;
    width: 500px;
}

.link-text p b {
    color: white;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-blocks {
    width: 562px;
    height: 350px;
    background: #FF4343;
    border-radius: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
}

.link-blocks a div {
    width: 75px;
    height: 280px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

.link-blocks a div:hover {
    transform:translateY(-50px);
    border-radius: 20px;
    z-index: 2;
    -webkit-box-shadow: 0 0 48px 40px rgba(228, 238, 245, 0.2);
    -moz-box-shadow: 0 0 48px 40px rgba(228, 238, 245, 0.2);
    box-shadow: 0 0 48px 40px rgba(228, 238, 245, 0.2)
}


.youtube {
    background: #fa000e;
    border-radius: 20px 0 0 0;
    right: 420px;
}

.instagram {
    background:#d2005a;
    border-radius: 20px 0 0 0;
    right: 360px;
}

.twitch {
    background: #8240f5;
    border-radius: 20px 0 0 0;
    right: 300px;
}

.tiktok {
    background: #020203;
    border-radius: 20px 0 0 0;
    right:240px ;
}

.twitter {
    background: #029bed;
    border-radius: 20px 0 0 0;
    right: 180px;
}

.linkedin {
    background: #025e8e;
    border-radius: 20px 0 0 0;
    right: 120px;
}

.mail {
    background: #234e58;
    border-radius: 20px 0 0 0;
    right: 60px;
}

.whatsapp {
    background: #41ca5b;
    border-radius: 20px 0 30px 0;
    right: 0;
}
/*link end*/














